/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html{
	height: 100%;
}

body{
	width: 960px;
	margin: 0 auto;
	font: 18px/1.25 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1,h2,h3,h4,h5{
	margin: 0;
}

ul{
	margin: 25px 0;
	padding: 0;
}

li{
	list-style-type: none;
}

#header{
	margin-top: 40px;
	h1{
		text-align: center;
	}
	.logo{
		text-align: center;
	}
}

#footer{
	margin-top: 40px;
	padding-bottom: 40px;
	font-size: .6em;
	text-align: center;
}

form{
	input[type="text"]{
		border: 1px solid #c0c0c0;
		padding: 3px;
		width: 952px;
		font: 1.2em "Courier New", Courier, mono;
		margin: 0;
	}
	input[type="submit"]{
		border: 1px solid #797979;
		background-color: #929292;
		padding: 8px 15px;
		color: #fffeff;
		text-shadow: #5e5e5e 2px 2px 2px;
		font: bold 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	}
	select{
		width: 170px;
	}
	label{
		font-weight: bold;
		font-size: .7em;
		width: 90px;
		float: left;
		text-align: left;
		margin-top: .3em;
	}
	.required{
		float: left;
		height: 30px;
		width: 30px;
		margin-right: 10px;
		img{
			position: absolute;
			width: 30px;
		}
	}
	.note{
		font-size: .6em;
		font-style: italic;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#add_argument_button{
		margin-top: 15px;
		a{
			border: 1px solid #797979;
			background-color: #929292;
			padding: 5px 10px 6px;
			color: #fffeff;
			text-shadow: #5e5e5e 2px 2px 2px;
			text-decoration: none;
			font: bold .6em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		}
	}
	.argument{
		margin-top: 10px;
		label{
			width: 140px;
			margin-top: .7em;
		}
		input{
			width: 812px;
		}
	}
}

#download_button{
	text-align: center;
	margin-top:40px;
	margin-bottom:40px;
	a{
		border: 1px solid #797979;
		background-color: #929292;
		padding: 8px 15px;
		color: #fffeff;
		text-shadow: #5e5e5e 2px 2px 2px;
		font: bold 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		text-decoration:none;
	}
}

#instructions{
	margin-bottom: 40px;
	background-color: #cccccc;
	padding: 10px;
}

#plist_code{
	width:960px;
	height:300px;
	overflow:auto;
	border: 1px #cccccc solid;
	margin-right:auto;
	margin-left:auto;
	font: 0.8em "Courier New", Courier, mono;
}